<!--(set_escape)-->
    html
<!--(end)--> 
<!DOCTYPE html>
<html lang="en">  
    <head>    
        <meta charset="utf-8">    
        <title>My Movie Catalog</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta name="description" content="">    
        <meta name="author" content="">    
        <!-- styles -->    
        <link href="./ressources/css/bootstrap.css" rel="stylesheet">
        <link href="./ressources/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="./ressources/css/DT_bootstrap.css" rel="stylesheet">
        <link href="./ressources/css/style.css" rel="stylesheet">   
       
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->    
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- javascript -->
        <script src="./ressources/js/jquery-1.7.2.min.js"></script>
        <script src="./ressources/js/dataTables.js"></script>
        <script src="./ressources/js/DT_bootstrap.js"></script>
        <script src="./ressources/js/bootstrap-dropdown.js"></script>
        <script src="./ressources/js/bootstrap-modal.js"></script>
        <script src="./ressources/js/custom.js"></script>
    </head>
    <body> 
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#" id="brandLogo">My Movie Catalog</a>
              <div class="pull-right">
                <ul class="nav">
                    <li><a id="hideButton" href="#" class="pull-right">Show/Hide details</a></li>
                </ul>              
              </div>
              <div class="nav-collapse">
                <ul class="nav">
                  <li><a data-toggle="modal" href="#about">About</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="container">
                <table id="moviesTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Cover</th>
                      <th>Title</th>
                      <th>Genre</th>
                      <th>Rating (Votes)</th>
                      <th>File info</th>
                      <th>Date</th>
                      <th>Links</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--(for i,movie in enumerate(movies))-->
                        <tr>
                            <td>@!i+1!@</td>
                            <td class="movieCoverCell">
                                <div class="movieCoverPic">
                                    <!--(if len(movie["cover"]) > 0)-->
                                        <img alt="@!movie["title"]!@" src="./covers/@!movie["imdb"]!@.jpg"/>
                                    <!--(end)-->
                                </div>
                            </td>
                            <td>
                                <div class="movieTitle">@!movie["title"]!@</div>
                                <div class="movieCountries">
                                    <!--(for country in movie["countries"])-->
                                        <img alt="@!country["name"]!@" src="./ressources/img/flags/@!country["iso_code"].lower()!@.png"/>
                                    <!--(end)-->
                                    <!--(if movie["srtPath"])-->
                                        <span class="badge badge-inverse">srt</span>
                                    <!--(end)-->
                                </div>
                                <div class="download">
                                    <div class="btn-group">
                                        <a class="btn btn-mini btn-info" href="#">
                                            Download
                                        </a>
                                        <a class="btn btn-mini btn-info dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <!--(if movie["file"])-->
                                            <li>
                                                <a href="#">
                                                    <i class="icon-film"></i>
                                                    Movie
                                                </a>
                                            </li>
                                            <!--(end)-->
                                            <!--(if movie["srtPath"])-->
                                            <li>
                                                <a href="#">
                                                    <i class="icon-align-center"></i>
                                                    Subtitles
                                                </a>
                                            </li>
                                            <!--(end)-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="movieSummary">@!movie["summary"]!@</div>
                            </td>
                            <td>@!movie["genre"]!@</td>
                            <td>@!movie["rating"]!@ (@!movie["votes"]!@)</td>
                            <td>@!movie["size"]!@MB</td>
                            <td>@!movie["modDate"]!@</td>
                            <td class="movieActions">
                                <a class="btn btn-mini" href="http://www.imdb.com/title/tt@!movie["imdb"]!@" target="_blank">IMDB</a>
                                <a class="btn btn-mini" href="http://www.opensubtitles.org/en/search/sublanguageid-all/imdbid-@!movie["imdb"]!@" target="_blank">ST</a>
                            </td>
                        </tr>
                    <!--(end)-->      
                  </tbody>
                </table>
                <div class="footer">
                    Page generation date : @!gendate!@
                </div>
                <!--About popup -->
                <div class="modal hide fade" id="about">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" href="#about">×</button>
                        <h3>About...</h3>
                    </div>
                    <div class="modal-body">
                        <h3>...This page</h3>
                        <p>This page was generated by someone using lm. This page is offering a simple view of a movie collection in your browser, collecting most of the movie info from <a href="http://www.imdb.com/" target="_blank">IMDB.com</a>.</p>
                        
                        <h3>...lm</h3>
                        <p>lm is a simple python script based on <a href="http://imdbpy.sourceforge.net/" target="_blank">IMDbPY</a> which collect a lot of informations from <a href="http://www.imdb.com/" target="_blank">IMDB.com</a> regarding your movie files. Using a basic hash alorithm, lm can identify your file, even if you renamed it ! lm is mainly designed to be used through a console but a html output is available too, like the page you are right now viewing at !</p>
                        
                        <h3>...the authors</h3>
                        <p>The original <a href="http://www.goffi.org/post/2012/02/20/Le-d%C3%A9veloppement-de-lm-a-%C3%A9t%C3%A9-repris"> lm idea and its first implementation</a> came from Jérôme Poisson aka Goffi.</p>
                        <p>A few years later, Guillaume Garchery aka RedRise, took <a href="http://redrises.blogspot.fr/2012/02/lm-list-movies-command-line-tool-lm.html" target="_blank"> the development back</a> and brang others features like OpenSubtitles integration.</p>
                        <p>Now it's my turn, Alexandre Dubois, to work on this project, implementing new features mostly linked to the html output.</p>
                        <p>If you want to help, you're more than welcome ! <a href="https://github.com/RedRise/lm" target="_blank">RedRise repo</a> and <a href="https://github.com/alexandredubois/lm" target="_blank">mine</a> are available on github ;)</p>
                    </div>
                    <!--<div class="modal-footer">
                        <a href="#about" data-dismiss="modal" class="btn btn-primary">Close</a>
                    </div>-->
                </div>
            </div>
    </body>
</html>